<!--
------------------------------------------------------------------------------
Autor: Berlad Gonzalez Valenzuela para Developments Berlad (<DB/>)
Proyecto: Portafolio personal de desarrollo web.
Archivo: contacto.html
Fecha de inserción: 2025-05-17

Este archivo es parte del repositorio oficial de Developments Berlad y está
protegido por derechos de autor. No está permitida su copia, modificación
ni redistribución sin autorización expresa.

This file is part of the official Developments Berlad repository.
It is protected by copyright and may not be copied, modified, or distributed
without express permission.

ℹ️ Para más información, consulte el archivo README (disponible en varios idiomas).
ℹ️ For more information, see the README file (available in multiple languages).
------------------------------------------------------------------------------

-->

{% extends 'Web/base.html' %}
{% block title %}Contacto | Developer Berlad{% endblock %}
{% block content %}
<h2 class="mb-4">Contacto</h2>
<p>Si deseas contactarme, puedes escribirme a:</p>
<ul>
    <li>Email: berlad46@gmail.com</li>
    <li>GitHub: <a href="https://github.com/berladgonzalez" target="_blank">@berladgonzalez</a></li>
    <li>Teléfono: 313 206 6372</li>
</ul>
<p>También puedes dejarme un mensaje a través del formulario de contacto (próximamente).</p>
{% endblock %}